body {
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;

	background-color: #6b70e2;
}

.keyContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.key {
	font-family: monospace;
	font-size: 96px;
	color: #ffffff;
	cursor: pointer;
}
